h2 {
    background-color: #ddd;
    text-transform: uppercase;
    padding: 1em;
    margin: 1em 0;
}


h3 {
    margin: 1em 0;
}

h4 {
    color: #333;
    font-size: 1.3em;
    margin: 1em 0;    
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}

figcaption {
    font-size: 0.9em;
    font-style: italic;
}